__pycache__/algorithm.cpython-37.pyc
working-solution.code-workspace
__pycache__/algorithm.cpython-38.pyc
__pycache__/astar.cpython-38.pyc
__pycache__/maze.cpython-37.pyc
__pycache__/Node.cpython-37.pyc
__pycache__/node.cpython-38.pyc
__pycache__/priority_queue.cpython-37.pyc
